.new-page-wrap {
    position: relative;
    width: 100%;
    height: 100%;
}
.new-work-page {
    position: absolute;
    width: 1000px;
    height: 650px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
.new-header {
    width: 100%;
    height: 40px;
    background-color: #0ab087;
    .header-text {
        width: 100px;
        height: 40px;
        margin-left: 10px;
        color: #ffffff;
        font-size: 18px;
        text-align: center;
        line-height: 40px;
    }
    .return-btn {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 10px;
        right: 10px;
        background: url("~assets/editPage/close-new.png");
        cursor: pointer;
    }
}
.new-content {
    width: 100%;
}
.pptList {
    position: absolute;
    top: 60px;
    bottom: 100px;
    padding: 0px 40px;
    .no-resource {
        position: relative;
        width: 450px;
        height: 450px;
        margin-left: 240px;
        background: url("~assets/editPage/bg-nodata.png") no-repeat center;
        span {
            position: absolute;
            display: inline-block;
            bottom: 50px;
            left: 178px;
            font-size: 16px;
        }
    }
}
.new-footer {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    .new-work-btn {
        width: 120px;
        height: 44px;
        margin-top: 28px;
        margin-left: 440px;
        color: #ffffff;
        font-size: 16px;
        line-height: 44px;
        background-color:#0ab087;
        border-radius: 4px;
        cursor: pointer;
    }
}