.register-page {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(247, 247, 247);
  box-sizing: border-box;
}

.register-container {
  position: absolute;
  width: 810px;
  height: 454px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid blue;

  .register-container_left {
    float: left;
    width: 468px;
    height: 454px;
    border: 1px solid black;
  }

  .register-container_right {
    position: relative;
    float: right;
    width: 340px;
    height: 454px;
    padding: 0 35px;
    border: 1px solid red;
    background-color: #ffffff;

    .register-form-header {
      text-align: center;
      padding: 30px 0;

      span {
        color: #666666;
        font-size: 24px;
      }
    }

    .phone-filed {
      width: 270px;
      height: 40px;
      margin-bottom: 10px;
      background-color: #f4f4f4;

      span {
        display: inline-block;
        width: 60px;
        height: 20px;
        color: #2b2b2b;
        font-size: 12px;
        text-align: center;
        border-right: 1px solid #c8c8c8;
        vertical-align: middle;
        line-height: 20px;
      }

      .phone-input {
        width: 210px;
        height: 40px;
        padding-left: 10px;
        color: #2b2b2b;
        background-color: #f4f4f4;
        border: none;
        outline: none;
      }
    }

    .code-filed {
      width: 270px;
      height: 40px;
      margin-bottom: 10px;

      .code-input {
        display: inline-block;
        width: 140px;
        height: 40px;
        padding-left: 10px;
        color: #2b2b2b;
        background-color: #f4f4f4;
        border: none;
        outline: none;
      }

      .code-btn {
        width: 130px;
        height: 40px;
        color: #ffffff;
        background-color: #D7D7D7;
        border: none;
        outline: none;
        cursor: pointer;
      }
    }

    .useer-register {
      width: 100%;
      height: 40px;
      background-color: #0ab087;
      cursor: pointer;

      .register-btn {
        font-size: 16px;
        color: #ffffff;
        line-height: 40px;
        text-align: center;
      }
    }

    .inputPasswd,
    .inputName {
      width: 270px;
      height: 40px;
      padding-left: 10px;
      margin-bottom: 10px;
      background-color: #f4f4f4;
      color: #2b2b2b;
      outline: none;
      border: none;
    }

    .inputPasswd {
      margin-bottom: 10px;
    }
  }

  .register-form-footer {
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0;
    bottom: 0;
    border: 1px solid rgb(235, 236, 241);

    .user-register-text {
      font-size: 12px;
      text-align: center;
      line-height: 60px;
      cursor: pointer;

      .user-register {
        color: #0ab087;
      }
    }
  }
}

input[placeholder] {
  color: rgb(201, 201, 201);
}

.phone-input.active,
.code-input.active,
.inputPasswd.active,
.inputName.active {
  background-color: #FDFDFD !important;
  color: #333333;
}