.home-container {
  box-sizing: border-box;
  overflow-y: auto;
}

.container-header {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: transparent;
  // background-color: #ffffff;
  z-index: 2;

  .logo-pic {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 4px;
    left: 5 0px;
    border: 1px solid #ffffff;
  }

  .header-login,
  .header-register {
    position: absolute;
    width: 60px;
    height: 30px;
    top: 15px;
    font-size: 14px;
    border-radius: 30px;
    cursor: pointer;
  }

  .header-login {
    right: 15%;

    .login-text {
      color: #ffffff;
      line-height: 30px;
    }
  }

  .header-register {
    right: 12%;
    text-align: center;
    background-color: #ffffff;

    .register-text {
      color: #0ab087;
      line-height: 30px;
      font-weight: 700;
    }
  }

  .header-avator {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 7%;
    margin-top: 4px;
    border-radius: 50%;
    border: 1px solid #ffffff;
  }
}

.start {
  background-color: #ffffff;
  .header-login {
    .login-text {
      color: #0ab087;
    }
  }
  .header-register {
    background-color: #0ab087;
    .register-text {
      color: #ffffff;
    }
  }
}

.index-panel {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 750px;
  box-sizing: border-box;
  /*padding: 172px 0 0;*/
  background: -webkit-gradient(linear,
      left top,
      right top,
      from(#4bccb6),
      to(#0ab087));
  z-index: 1;

  .panel-img-left {
    width: 200px;
    height: 750px;
  }

  .panel-img-right {
    width: 300px;
    height: 750px;
  }
  .panel-content {
    flex: 1;
    width: 100%;
    height: 750px;
    .start-work {
      position: relative;
      width: 100%;
      height: 60px;
      margin-top: 40px;
      .start-btn {
        position: absolute;
        width: 260px;
        height: 60px;
        left: 50%;
        transform: translateX(-50%);
        color: #ffffff;
        background-color: #10EAB0;
        
        box-shadow: 0 8px 18px 0 rgba(15,36,152,.16);
        border-radius: 29px;
        cursor: pointer;
        span {
          display: inline-block;
          font-size: 20px;
          text-align: center;
          margin-top: -18px;
          vertical-align: middle;
          font-weight: 700;
        }
      }
      .start-icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-top: 18px;
        margin-left: 5px;
        background: url("~assets/editPage/start-icon.png");
      }
    }
    .swiper-img {
      position: relative;
      width:100%;
      height: 700px;
      margin-top: 40px;
      background-color: #ffffff;
      .item,
      img {
        width: 100%;
        height: 100%;
      }
      .page {
        position: absolute;
        width: 100px;
        height: 30px;
        right: 20px;
        bottom: 10px;
        li{
          float: left;
          margin-right: 10px;
          cursor: pointer;
        }
      }
    }

  }

  .panel-intro {
    width: 100%;
    height: 130px;
    margin-top: 140px;
    text-align: center;

    .intro-text {
      display: block;
      height: 70px;
      color: #ffffff;
      font-size: 48px;
    }

    .intro-tips {
      color: #ffffff;
      font-size: 14px;
    }

    .more-feature {
      width: 90px;
      height: 25px;
      margin: 0 auto;
      margin-top: 5px;
      font-size: 12px;
      color: #f1f3f4;
      line-height: 25px;
      border-radius: 12px;
      background-color: rgb(46, 191, 160);
      border: 1px solid #f1f3f4;
      cursor: pointer;
      a {
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
}

.recommend-module {
  position: absolute;
  width: 100%;
  height: 600px;
  top: 1110px;
  padding: 50px 60px;
  border: 1px solid black;
  .module-title {
    width: 100%;
    height: 64px;
    font-size: 48px;
    font-weight: 400;
    color: #535C81;

  }
}