.sidebar-page{
    width: 100%;
    height: 100%;
}
.create-btn{
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: #707070;
    background-color:#ffffff !important;
    line-height: 40px;
    border-bottom: 1px solid #707070;
    background: url("~assets/editPage/add.png") no-repeat 70px 7px;
    cursor: pointer;
    &:hover{
        background-color: #e5e5e5 !important;
    }
}
.side-body{
    width: 100%;
    height: calc(100% - 40px);
    padding-top: 20px;
    background-color: #f6f6f6;
    .side-content{
      width: 100%;
      height: 100%;
      .side-ppt-list{
        width: 100%;
        height: calc(100% - 60px);
        overflow-y: auto;
        overflow-x: hidden;
        border: 1px solid black;
        .side-ppt-item{
          position: relative;
          width: 252px;
          height: 152px;
          margin: 0 auto;
          border: 1px solid #0ab087;
          .item-btns{
            position: absolute;
            display: flex;
            justify-content: space-between;
            width: 50px;
            height: 30px;
            top: 5px;
            right: 10px;
            border: 1px solid black;
            z-index: 9999;
            .item-delete,
            .item-create {
              width: 24px;
              height: 24px;
              border: 1px solid black;
              cursor: pointer;
            }
          }
        }
      }
    }
    .side-footer{
      position: relative;
      width: 100%;
      height: 60px;
      text-align: center;
      .page_size{
        float: left;
        width: 50px;
        min-width: 50px;
        height: 30px;
        margin-top: 15px;
        margin-left: 30px;
        line-height: 28px;
        background-color: #ffffff;
        color: #676767;
        border-radius: 14.5px;
        border: 1px solid #e9eaec;
      }
      .change_show_type{
        position: absolute;
        display: flex;
        justify-content: space-between;
        height: 60px;
        right: 20px;
        .show_list,
        .show_repeat{
          width: 24px;
          height: 24px;
          margin-top: 18px;
          margin-right: 20px;
          cursor: pointer;
        }
        .show_list{
          background:url("~assets/editPage/list-type.png") no-repeat;
        }
        .show_repeat{
          background:url("~assets/editPage/repeat-type.png") no-repeat;
        }
      }
    }
}